@import "../../App.scss";

.services{
    background: linear-gradient(180deg, #061829, #095a9b);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include tablet {
        height: auto;
    }


    .textContainer {
        flex: 1;
        align-self: flex-end;
        display: flex;
        align-items: center;
        gap: 1.25rem;
        margin-right: 2rem;

        @include tablet {
            gap: 1rem;
            margin-right: 1rem;
        }
        

        p {
            font-weight: 200;
            font-size: 1.25rem;
            color: gray;
            text-align: right;
            font-family: "Helvetica Neue";

             @include tablet {
                font-size: 0.8rem;
                padding-top: 0.5rem;
            }

            span{
                display: block;
                font-family: "Helvetica Neue";

            }

        }

        
    }

    .titleContainer {

        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 2;

        .title{

            display: flex;
            align-items: center;
            gap: 3.125rem;

            @include mobile{
                gap: 1rem;;
            }

            @include tablet{
                gap: 2rem;;
            }


            img{
                width: 16.75rem;
                height: 4.25rem;
                border-radius: 50px;
                object-fit: cover;

                @include mobile {
                    width: 8rem;
                    height: 3rem;
                }

                @include tablet {
                    width: 10rem;
                    height: 3.5rem;
                }

                
            }

            h1 {
                font-size: 4rem;
                font-weight: lighter;

                @include mobile {
                    font-size: 2rem;
                }

                @include tablet {
                    font-size: 2rem;
                }
            }

            button {
                width: 12.75rem;
                height: 3.25rem;
                border-radius: 3.125rem;
                background-color: #bce0fb;
                color: #061829;
                font-size: 1.5rem;
                border: none;
                cursor: pointer;

                @include mobile {
                    display: none;
                }

                @include tablet {
                    font-size: 1rem;
                    width: 9rem;
                    height: 2.5rem;
                }
            }
        }
    }

    .listContainer{
        flex: 2;
        display: flex;
        max-width: 55rem;
        margin: auto;

        @include mobile {
            margin: 2rem auto;
            flex-direction: column;
            gap: 2rem;
            // max-width: 40rem;
        }

        @include tablet {
            margin: 2rem auto;
            max-width: 40rem;
            gap: 2rem;
            flex-wrap: wrap;
        }

        .box {
            padding: 1rem 2.25rem;
            border: .5px solid gray;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 1rem;

            &.first{
                border-left: none;

                @include tablet {
                    border-left: .5px solid gray;
                }
            }

            &.last {
                border-right: none;

                @include tablet {
                    border-right: .5px solid gray;
                }
            }

            .serviceTitle {
                font-size: 1.2rem;
                animation: none;
            }

             @include mobile {
                border: .5px solid gray;
                border-radius: 10px;
                width: 70%;
                margin: auto;
            }

            @include tablet {
                border: .5px solid gray;
                border-radius: 10px;
                width: 45%;
                margin: auto;
            }


            button {
                border: none;
                background: transparent;
                color: #bce0fb;
                font-size: 0.813rem;
                font-weight: 400;
                letter-spacing: 4px;
                font-family: sans-serif;
                padding: 0.625rem 1.125rem;
                border: 1px solid #3fabf1;
                border-radius: .5rem;

                &:hover {
                    background: #bce0fb;
                    color: #095a9b;
                }
            }

            p {
                font-size: .9rem;
            }

            
        }
    }
}