@import "../../App.scss";

.text-animate {
    display: inline-block;
    opacity: 0;
    animation: bounceIn 1s 1s;
    animation-fill-mode: forwards;
    min-width: 0.625rem;

    @include mobile {
        min-width: 0.2rem;
    }

    @include tablet {
        min-width: 0.4rem;
    }
}

.text-animate-hover{
    min-width: 0.625rem;
    display: block;
    animation-fill-mode: both;

    &:hover{
        animation: rubberband 1s;
        color: #0c4e80;
    }
}

@for $i from 1 through 40 {
    .text-animate._#{$i} {
        animation-delay: #{calc($i / 10)}s;
    }
}