# EmailJS Configuration
VITE_EMAILJS_SERVICE_ID=your_service_id
VITE_EMAILJS_TEMPLATE_ID=your_template_id
VITE_EMAILJS_PUBLIC_KEY=your_public_key

# Contact Information
VITE_CONTACT_EMAIL=your_email@example.com
VITE_CONTACT_PHONE_1=your_phone_1
VITE_CONTACT_PHONE_2=your_phone_2
VITE_WHATSAPP_LINK=https://wa.me/your_number
VITE_WHATSAPP_LINK_NG=https://wa.me/your_number_2
