@import "../../App.scss";


.home-page {
    // background: linear-gradient(180deg, #061829, #095a9b);
    margin-top: 5rem;
    height: 100vh;

    @include tablet {
        margin-top: 0;
        height: 50%;
    }

    @include mobile {
        margin-top: 0;
        height: 50%;
    }
    .text-zone {
        position: absolute;
        left: 10%;
        top: 50%;
        transform: translateY(-50%);
        width: 45%;
        max-height: 90%;

    

        @include mobile {
            left: 5%;
            width: 100vw;
            top: 35%;
        }

        @include tablet{
            left: 8%;
            width: 100vw;
            top: 35%;
        }
    }

    h1{
        color: #bce0fb;
        font-size: 3.313rem;
        margin: 0;
        font-family: "Coolvetica";
        font-weight: 400;
        line-height: 5rem;

        @include tablet {
            font-size: 2rem;
            line-height: 3rem;
        }

        @include mobile {
            font-size: 1.6rem;
            line-height: 3rem;
        }

        &::before {
            content: '<h1>';
            font-family: "La Belle Aurore";
            color: #0972c0;  // come back to review this color
            font-size: 1.125rem;
            position: absolute;
            margin-top: -2.5rem;
            left: 1rem;
            opacity: 0.6;
        }

        &::after {
            content: '</h1>';
            font-family: "La Belle Aurore";
            color: #0972c0;  // come back to review this color
            font-size: 1.125rem;
            position: absolute;
            margin-top: 1.125rem;
            margin-left: 1.25rem;
            animation: fadeIn 1s 1.7s backwards;
            opacity: 0.6;
        }
    }

   .k-letter {
    width: 3rem;
    margin-left: 1.25rem;
    opacity: 0;
    height: auto;
    animation: rotateIn 1s linear both;
    animation-delay: 1.4s;
   }
}

h2 {
    color: #3fabf1;
    margin-top: 1.25rem;
    font-weight: 400;
    font-size: 0.9rem;
    font-family: sans-serif;
    letter-spacing: 3px;
    animation: fadeIn 1s 1.8s backwards;

    @include tablet {
        font-size: 0.7rem;
    }

    @include tablet {
        font-size: 0.7rem;
    }
}

.buttons{

    display: flex;
    gap: 10px;
    cursor: pointer;

    .flat-button {
        background: transparent;
        color: #bce0fb;
        font-size: 0.813rem;
        font-weight: 400;
        letter-spacing: 4px;
        font-family: sans-serif;
        text-decoration: none;
        padding: 0.625rem 1.125rem;
        border: 1px solid #3fabf1;
        margin-top: 1.563rem;
        float: left;
        animation: fadeIn 1s 1.8s backwards;
        white-space: nowrap;
        border-radius: .5rem;
    
        &:hover{
            background: transparent;
            color: #3fabf1;
        }
    
        @include tablet {
            margin-top: 1.2rem;
            font-size: 0.813rem;
            letter-spacing: 2px;
            padding:0.5rem 1rem;
        }

        @include tablet {
            margin-top: 1.2rem;
            font-size: 0.813rem;
            letter-spacing: 2px;
            padding:0.5rem 1rem;
        }
    }
}

.imageContainer {
    height: 100%;
    width: 40%;
    position: absolute;
    top: 0;
    right: 0;

    @include tablet {
        height: 7rem;
        width: 7rem;
        margin-right: 2rem;
        border: 1px solid #3fabf1;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }

    @include mobile {
        height: 7rem;
        width: 7rem;
        margin-right: 2rem;
        border: 1px solid #3fabf1;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;  
    }


    .my-image{
        width: 80%;

        @include tablet {
            width: 60%;
            margin-top: -15px;
            right: 10px;
        }

        @include mobile {
            width: 60%;
            margin-top: -15px;
            right: 10px;
        }
    }

}

