@import '../../../App.scss';

.animated-text {
  display: inline-block;
  
  &.animated-text-small {
    font-size: 1rem;
  }
  
  &.animated-text-normal {
    font-size: 1.5rem;
  }
  
  &.animated-text-large {
    font-size: 2.5rem;
  }
  
  .animated-word {
    display: inline-block;
    transform-style: preserve-3d;
  }
}
